<b>TP : Partons faire un peu de shopping ! Analyse d'un listing de 10 000 chaussures vendues en ligne</b>

source du dataset : https://www.kaggle.com/datafiniti/womens-shoes-prices

Nous allons analyser un data set contenant 10 000 chaussures avec de nombreuse caractéristiques comme le prix, les couleurs disponibles, les tailles disponibles, leurs poids...

Voici une traduction de la description des colonnes principales : 
- asins : Une liste des ASIN (identificateurs d'Amazon) utilisés pour ce produit.
- brand : Le nom de marque de ce produit.
- categories : Une liste de mots-clés de catégorie utilisés pour ce produit dans plusieurs sources.
- colors : Une liste de couleurs disponibles pour ce produit.
- count : Le nombre d'unités incluses dans l'emballage du produit. Peut inclure une description de l'unité.
- dateAdded : La date à laquelle ce produit a été ajouté pour la première fois à la base de données des produits.
- dateUpdated : La date la plus récente à laquelle ce produit a été mis à jour ou vu par notre système.
- descriptions : Une liste des descriptions de ce produit provenant de diverses sources. Chaque description contient :
- dimension : La longueur, la largeur et la hauteur de ce produit. Unités incluses.
- ean : Les codes EAN de ce produit. Il peut y avoir plus d'un EAN dans la liste lorsqu'un produit a plusieurs variantes,
- financingAndLeasing : Une liste des conditions de financement ou de location associées à ce produit
- features : Une liste des caractéristiques associées à ce produit. La liste des caractéristiques peut être obtenue à partir des sections de caractéristiques spécifiques disponibles dans la liste des produits du produit.
- manufacturer : Numéro du fabricant
- merchants : Une liste des marchands qui vendent ce produit. Il s'agit généralement de marchands tiers que l'on trouve sur les sites Web de commerce électronique.
- name : dénomination du produit
- prices : Une liste de prix pour ce produit.
- primaryCategories : Une liste des catégories normalisées auxquelles ce produit appartient. Les valeurs des catégories peuvent être trouvées ici.
- quantities : Une liste des quantités disponibles pour ce produit. Les quantités indiquent combien d'unités du produit sont disponibles auprès d'une source spécifique à un moment donné.
- reviews : Une liste de commentaires pour ce produit.
- sizes : Une liste des tailles disponibles pour ce produit.
- skus : Une liste des références de ce produit. Les SKU sont typiquement spécifiques aux détaillants individuels ou aux sites Web.
- sourceURLs : Une liste d'URLs utilisées pour générer les données de ce produit.
- upc : Le code CUP de ce produit.
- websiteIDs : Une liste d'identifiants de site Web pour ce produit. Les ID de site Web sont liés à un détaillant en ligne spécifique. Il s'agit de l'identifiant unique utilisé par le site Web. Ils sont utilisés par Datafiniti lorsque d'autres identificateurs uniques ne sont pas disponibles pour un produit.
- weight : Le poids du produit. Unités incluses.

La source https://developer.datafiniti.co/docs/product-data-schema

<b> Exercices </b>

<b>Découverte du data set</b><br>
1) à l'aide de la fonction read_csv, importez entièrement le data set de enregistrez dans le dataframe 'Shoes' <br>
2) Utilisez la méthode .head() pour afficher les premières lignes <br>
3) Il y a trop de colonnes...Pour avoir une vue d'ensemble changez le paramétrage de pandas avec set_option pour afficher les 34 colonnes. Une fois cela fait, affichez à nouveau le head de la page <br>
4) On va garder uniquement les colonnes qui nous interessent. grace à la méthode de sélection de plusieurs colonnes, créez un dataframe 'ShoesLight', comprenant unique les colonnes suivantes :'id','name','dateUpdated','colors','prices.amountMax','prices.amountMin','prices.merchant'. <br>Affichez le head de ShoesLight.<br>

<b> data cleaning </b> <br>
5) A l'aide de la méthode .dtypes, consultez les types de chaque colonne. Ecrivez en markdown celles devant être corrigées et comment. <br>
6) A l'aide des méthodes .isnull, .sum() et len(), calculez le % de valeurs maquantes par colonne. Notez en markdown celles qui sont problématiques. <br>
7) Il manque trop de valeurs pour les colonnes des e-commercant et des couleurs. Retirez les du dataframe shoesLight <br>
8) A l'aide de la méthode .to_datetime, transformez la colonne 'dateUpdated'

<b> features modeling </b> <br>
9) caculez la colonne 'prices.amountAverage' en additionnant les colonnes 'prices.amountMax' et 'prices.amountMin' et en divisant par 2 <br>
10) grace à la méthode dt.weekday, créez une colonne 'dayOfweekUpdated', permettant de connaitre à partir de dateUpdated le jour de la semaine où les produits sont mis à jour

<b> data analyse </b> <br>

11) Analyser le prix moyen des chaussures avec la methode .desribe() <br>
12) Y-a-t-il de grandes différences de prix en fonction de la marque ? A l'aide des methodes groupby(), mean() et sort_values(), créez une varaible 'Luxe' contenant les 10 marques les plus chères, puis la variable 'lowCost' contenant les 10 marques les moins chères. <br>
13) grace à la méthode value_counts(), determinez le jour de la semaine où les produits sont le plus souvent mis à jour <br>
14) (optionnel) donnez le prix moyen des produits de la marque 'easy street' mis à jour un jeudi

In [88]:
import pandas as pd
#1) à l'aide de la fonction read_csv, importez entièrement le data set de enregistrez dans le dataframe 'Shoes' <br>

Shoes=pd.read_csv('Datafiniti_Womens_Shoes.csv',encoding="latin-1",sep=",")
#2) Utilisez la méthode .head() pour afficher les premières lignes <br>

Shoes.head(5)

,ï»¿id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,...,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,...,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,...,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [89]:
Shoes.describe()

                ean  prices.amountMax  prices.amountMin  prices.returnPolicy
count  6.710000e+02      10000.000000      10000.000000                  0.0
mean   7.714302e+11         69.223544         51.131209                  NaN
std    1.847119e+11         19.487286         21.267446                  NaN
min    3.397705e+10          5.870000          4.880000                  NaN
25%    7.276810e+11         59.990000         37.490000                  NaN
50%    8.701910e+11         64.990000         49.990000                  NaN
75%    8.860660e+11         79.990000         59.990000                  NaN
max    8.898850e+11        359.950000        359.950000                  NaN

In [90]:
#4) On va garder uniquement les colonnes qui nous interessent. 
ShoesLight=Shoes[['name','dateUpdated','colors','prices.amountMax','prices.amountMin','prices.merchant','brand']]

In [91]:
#5)consultez les types de chaque colonne. Ecrivez en markdown celles devant être corrigées et comment.
ShoesLight.dtypes

name                 object
dateUpdated          object
colors               object
prices.amountMax    float64
prices.amountMin    float64
prices.merchant      object
brand                object
dtype: object

In [92]:
ShoesLight['prices.merchant'].fillna(0,inplace=True)

C:\Users\princ\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [93]:
#6)6) A l'aide des méthodes .isnull, .sum() et len(), calculez le % de valeurs maquantes par colonne. Notez en markdown celles qui sont problématiques.
ShoesLight.isnull().sum()/len(ShoesLight)

name                0.0000
dateUpdated         0.0000
colors              0.7369
prices.amountMax    0.0000
prices.amountMin    0.0000
prices.merchant     0.0000
brand               0.0000
dtype: float64

In [94]:
#couleurs
#7) Il manque trop de valeurs pour les colonnes des e-commercant et des couleurs. Retirez les du dataframe shoesLight 
ShoesLight.drop(columns=['colors'],inplace=True)
ShoesLight.drop(9999)

C:\Users\princ\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,name,dateUpdated,prices.amountMax,prices.amountMin,prices.merchant,brand
0,Naturalizer Danya Women N/S Open Toe Synthetic...,2018-01-29T04:38:43Z,55.99,55.99,Overstock.com,Naturalizer
1,MUK LUKS Womens Jane Suede Moccasin,2018-01-03T05:21:54Z,47.00,35.25,Walmart.com,MUK LUKS
2,MUK LUKS Womens Jane Suede Moccasin,2018-01-03T05:21:54Z,35.25,35.25,Slippers Dot Com,MUK LUKS
3,MUK LUKS Womens Dawn Suede Scuff Slipper,2018-01-04T11:52:35Z,24.75,24.75,Slippers Dot Com,MUK LUKS
4,MUK LUKS Womens Dawn Suede Scuff Slipper,2018-01-18T03:55:18Z,33.00,30.39,Walmart.com,MUK LUKS
...,...,...,...,...,...,...
9994,Lowa San Luis Gtx Surround Lo Shoe - Women's,2018-04-06T21:02:08Z,199.95,89.98,Backcountry.com,Lowa
9995,Asics Gel-Foundation 12 Running Shoe - Women's,2018-04-06T21:02:04Z,119.95,89.96,Backcountry.com,Asics
9996,Asics Gel-Fortitude 7 Running Shoe - Women's,2018-04-06T21:02:04Z,119.95,77.97,Backcountry.com,Asics
9997,Kaanas Mesa Hardware Mule - Women's,2018-04-06T21:02:01Z,128.95,64.47,Backcountry.com,Kaanas
9998,Nike Air Zoom Structure 21 Running Shoe - Narr...,2018-04-06T21:01:53Z,119.95,89.96,Backcountry.com,Nike

In [95]:
ShoesLight['dateUpdated']=pd.to_datetime(ShoesLight['dateUpdated'])

<ipython-input-95-bf2ac362b164>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ShoesLight['dateUpdated']=pd.to_datetime(ShoesLight['dateUpdated'])

In [96]:
ShoesLight['dateUpdated'].dtype

datetime64[ns, UTC]

In [97]:
ShoesLight['prices.amountAverage']=(ShoesLight['prices.amountMax']+ShoesLight['prices.amountMin'])/2
ShoesLight['prices.amountAverage']

<ipython-input-97-2f0eb2aaa351>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ShoesLight['prices.amountAverage']=(ShoesLight['prices.amountMax']+ShoesLight['prices.amountMin'])/2

0        55.990
1        41.125
2        35.250
3        24.750
4        31.695
         ...
9995    104.955
9996     98.960
9997     96.710
9998    104.955
9999     74.960
Name: prices.amountAverage, Length: 10000, dtype: float64

In [98]:
#10) grace à la méthode dt.weekday, créez une colonne 'dayOfweekUpdated'
ShoesLight['dateUpdated'].dtypes
ShoesLight['dayOfweekUpdated']=ShoesLight['dateUpdated'].dt.weekday

<ipython-input-98-2f8394e06c39>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ShoesLight['dayOfweekUpdated']=ShoesLight['dateUpdated'].dt.weekday

In [110]:
ShoesLight['dayOfweekUpdated']

(0       lun
 1       Mer
 2       Mer
 3       Jeu
 4       Jeu
        ...
 9995      4
 9996      4
 9997      4
 9998      4
 9999      4
 Name: dayOfweekUpdated, Length: 10000, dtype: object,
 0       Naturalizer
 1          MUK LUKS
 2          MUK LUKS
 3          MUK LUKS
 4          MUK LUKS
            ...
 9995          Asics
 9996          Asics
 9997         Kaanas
 9998           Nike
 9999       OTZShoes
 Name: brand, Length: 10000, dtype: object)

In [100]:
jour=["lun","Mard","Mer","Jeu","Ven","Sam","Dim"]
for i in ShoesLight['dayOfweekUpdated'].head():
    if i==i:
         ShoesLight['dayOfweekUpdated'].replace(i,jour[i],inplace=True)
            
            
ShoesLight['dayOfweekUpdated']

C:\Users\princ\anaconda3\lib\site-packages\pandas\core\series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

0       lun
1       Mer
2       Mer
3       Jeu
4       Jeu
       ...
9995      4
9996      4
9997      4
9998      4
9999      4
Name: dayOfweekUpdated, Length: 10000, dtype: object

In [101]:
#11) Analyser le prix moyen des chaussures avec la methode .desribe() <br>

ShoesLight['prices.amountAverage'].describe()

count    10000.000000
mean        60.177376
std         18.786193
min          5.375000
25%         49.990000
50%         56.875000
75%         67.490000
max        359.950000
Name: prices.amountAverage, dtype: float64

In [129]:
#12)créez une varaible 'Luxe' contenant les 10 marques les plus chères, puis la variable 'lowCost' contenant les 10 marques les moins chèresLuxe
Luxe=ShoesLight[['brand','prices.amountAverage']].groupby('brand').mean().sort_values(['prices.amountAverage'],ascending=True).head(10)

LowCost=ShoesLight[['brand','prices.amountAverage']].groupby('brand').mean().sort_values(['prices.amountAverage'],ascending=False).head(11)
Luxe,LowCost

(                      prices.amountAverage
 brand
 Unbranded                         6.803333
 Soft Ones                        10.950000
 Faded Glory                      13.381250
 Victoria K.                      15.880000
 Genuine Dickies                  16.925000
 Earth Spirit                     18.100000
 Danskin Now                      19.740000
 Riverberry                       24.990000
 forever collectibles             25.000000
 Mo Mo                            25.046667,
               prices.amountAverage
 brand
 Red Wing                345.950000
 Free People             178.000000
 On Footwear             159.990000
 MLB                     151.240000
 Arc'teryx               150.166667
 La Sportiva             149.437500
 Frye                    149.322500
 Lowa                    146.392857
 SoftWalk                145.950000
 Scarpa                  145.337500
 Hoka One One            144.235714)

In [130]:
#13) grace à la méthode value_counts(), determinez le jour de la semaine où les produits sont le plus souvent mis à jour <br>
ShoesLight['dayOfweekUpdated'].value_counts()

Jeu    5516
lun    1300
6      1052
Mer     911
1       606
4       332
5       283
Name: dayOfweekUpdated, dtype: int64

In [150]:
#14) (optionnel) donnez le prix moyen des produits de la marque 'easy street' mis à jour un jeudi
PriceEasy=ShoesLight['prices.amountAverage'][(ShoesLight['brand']=="easy street") & (ShoesLight['dayOfweekUpdated']=="Jeu")].mean()
PriceEasy

51.19532786885227